# FastSheba customer website
NEXT_PUBLIC_SSR=false
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api
NEXT_PUBLIC_ADMIN_PANEL_URL=http://127.0.0.1:8000
NEXT_PUBLIC_SITE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
